.header{
    font-size: small;
    font-weight: bold;
    color: #0b6d88;
    padding-top: 50px;
}

.cmflex{
    display: flex;
    justify-content: space-between;
}

.cmflexsmall{
    font-size: smaller;
    font-weight: lighter;
    color: #0b6d88;
    padding-top: 50px;
}

.comments{
  display: flex;
  justify-content: space-between;
}

.commentInput{
    width: 400px;
}

.cmright{
    margin: 0 50px;
    border: 3px solid #0b6d88;
    padding: 50px;
    
}

.cmdisplay h4{
   font-size: medium;
   color: #0b6d88;
   font-weight: lighter;
}

.cmdisplay b{
    color: darkgray;
}

.cmdisplay{
    border: 2px solid #0b6d88;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
}

.likeBtn{
    text-transform: capitalize;
    color: #0b6d88;
    background-color: lightgrey;
    border: 1px solid #0b6d88;
}

.xbtn{
    height: 20px;
    margin-top: 20px;
    background-color: #0b6d88;
    border: none;
    outline: none;
}
.commentInput-btn{
    height: 40px;
    width: 100%;
    background-color: #0b6d88;
    outline: none;
    border: none;
    text-transform: capitalize;
}

.commentInput{
    border: 1px solid #0b6d88;
    padding: 5px;
    outline: none;
}

.comment-form{
    margin: 80px 30px;

}

.search, .zoomGlass{
    top: 60px;
    
}

.static{
    width: 3500px;
}
















