.Lib{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 30px;
}

.search{
    position: absolute;
    top: 100px;
}

.search input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: none;
    position: fixed;
    right: 100px;
    outline: none;
    padding-left: 15px;
    border: 1px solid #0b6d88;
}

.search input::placeholder{
    padding: 10px;
    margin: 10px;
    color: #0b6d88;
}

.zoomGlass{
    border: 1px solid #0b6d88;
    right: 60px;
    top: 109px;
    height: 21px;
    position: fixed;
    padding: 3px;
    color: #0b6d88;
    border-bottom: 5px solid #0b6d88;
}

.show{
    display: block;
}

.hide{
    display: none;
}

















