.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: left;
  position: fixed; 
  z-index: 100;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  }
  
  /* .navbar .leftnav {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  } */

  .logo{
    background-image: url(../assets/images/Free_Sample_By_Wix-2.jpg);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

.access{
  width: 70px;
  height: 40px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-family: montserrat;
  font-weight: bolder;
  font-size: xx-small;
  cursor: pointer;

}

.login{
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #ea4c89;
  color: #ea4c89;
}

.signup{
  background-color: #ea4c89;
  color: white;
}

.btnLeft{
  position: absolute;
  right: 60px;
  top: 5px;
  bottom: 10px;
}
  
  .navbar .leftnav img {
    width: 70px;
  }
  
  .navbar .rightnav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: rgb(114, 114, 114);
    text-decoration: none;
    margin: 20px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    
  }
  .navbar a:nth-child(5){
    color: #ea4c89;
    text-transform: capitalize;
  }

  .comment{
    padding-top: 2px;
  }
  
  .navbar .rightnav button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightnav svg {
    font-size: 40px;
  }
  

  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }

 

  @media only screen and (max-width: 900px) {
    .navbar .rightnav a {
      width: 70px;
    }
    .navbar .leftnav {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightnav a {
      display: none;
    }
  
    .navbar .rightnav {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightnav button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightnav button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

